/* .songs-list {
  overflow-y: auto;
  max-height: calc(100% - 125px);
} */

/* width */
.songs-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Track */
.songs-list::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
  border-radius: 500px;
}

/* Handle */
.songs-list::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: rgb(0, 0, 0, 0.1);
}

/* @media (min-width: 1920px) {
  .song-img {
    height: 14rem;
  }
}

@media (min-width: 1745.45px) and (max-width: 1920px) {
  .song-img {
    height: 12rem;
  }
}

@media (min-width: 1536px) and (max-width: 1745.45px) {
  .song-img {
    height: 8rem;
  }
}

@media (min-width: 1280px) and (max-width: 1536px) {
  .song-img {
    height: 8rem;
  }
} */
